.botones-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.btn-color {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  
  &:hover {
    transform: scale(1.05);
  }
  
  
  &:nth-child(4) {
    color: #333;
  }
}